body{
    background-color: var(--black);
}


.card{
    width: 100%;
    margin: 20% auto 50% auto; 
}

.card--header h5{
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #a5a5a5;
}

.card--header h4{
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--primary);
}

.card-body label{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: var(--dark-gray);
}

.btn-auth{
    background-color: var(--dark-gray);
    color:var(--just-white);
}

.btn-auth:hover{
    text-decoration: none;
    color:var(--just-white);
}