.table-container{
    margin-top: 40px;
}

.buttons-excel{
    width: 100px;
    float: right;
    background-color: var(--dark-gray);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--just-white);
}