.image-header{
    margin-bottom: 40px;
    width: 100%;
    height: 400px;
    background-image: url('../images/car-gray.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-about-us-container{
    position: relative;
    display: block;
    text-align: center;
}

.text-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-header h2{
    color: var(--primary);
    font-size: 3.5rem;
    font-weight: bold;
}

.text-header p{
    color: var(--just-white);
    font-size: 1.5rem;
    font-weight: 500;
}


.text-header span{
    color: var(--just-white);
    font-size: 0.9rem;
    font-weight: 500;
}


.take-part{
    width: 250px;
    height: 50px;
    position: absolute;
    bottom: -45px;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--primary);
    color: var(--just-white);
}

.take-part:hover{
    text-decoration: none;
    background-color: var(--primary);
    color: var(--just-white);
}

.take-part-information{
    margin: 20px 80px;
}

.take-part-information p{
    font-size: 1.2rem;
    font-weight: 500;
}

.take-part-information h5{
    font-size: 1.3rem;
    font-weight: 500;
}


.main-form-register{
    margin: 100px 80px 20px 80px;
    height: auto;
    min-height: 400px;
}

.main-form-register p{
    font-size: 1.2rem;
    font-weight: 500;
}

.main-form-register h5{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.car-information{
    padding: 20px 80px;
    background-color: var(--dark-gray);
}

.car-information p{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-gray);
    text-align: justify;
}


.promotional-image{
    width: 100%;
    height: 350px;
    background-image: url('../images/girls-car.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.car-internal-image{
    width: 100%;
    height: 250px;
    background-image: url('../images/car-internal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-register{
    width: 100px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--secondary-blue);
    color: var(--just-white);
    float: right;
}

.btn-register:hover{
    text-decoration: none;
    color: var(--just-white);
}

.winner-image{
    width: 100%;
    height: 250px;
    background-image: url('../images/winner-star.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-winner-information{
    margin: 100px 80px;
}